#color{
    color: yellow;
}

body{
    background-image: url(../img/bg.jpg);
    margin: 0px;
}
header{
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    padding: 15px;
}
ul{
    list-style: none;
}
li{
    display: inline;
    margin: 5px;
    color: blue;
}
section{
    background-color: white;
    margin: 40px 150px 30px;
    padding: 20px;
    color: purple;
}
article{
    border-bottom: black;
    text-align: justify;
    padding: 10px;
    color: black;
}
h1{
    text-align: center;
    color:black;
}